.header {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&__title {
		margin: 0;
	}
}

.label-description {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	list-style: none;
	padding: 0;

	&__item {
		align-items: center;
		display: flex;
		flex-direction: row;
		margin-right: 1rem;
	}

	&__color {
		border-radius: 2px;
		display: inline-block;
		height: 10px;
		margin-right: .5em;
		width: 10px;

		&--reviewaquired {
			background-color: #d93f0b;
		}

		&--waitingmerge {
			background-color: #7057ff;
		}

		&--waitingadjust {
			background-color: #fbca04;
		}

		&--approved {
			background-color: #0e8a16;
		}
	}

	&__desc {
		font-size: .8em;
	}
}

body {
	&.dashboard {
		transition: background-color .8s ease;
		background-color: $gray-200;
	}
}

.dashboard {
	&__header {
		align-items: center;
		display: flex;
		flex-direction: row;
		margin-bottom: 1.5em;
	}

	&__avatar {
		z-index: 10;

		img {
			border-radius: 100%;
			border: solid 2px $gray-500;
			width: 50px;
		}
	}

	&__welcome-msg {
		background: $white;
		font-size: .9rem;
		margin-left: -.5em;
		padding: .3em 1em;
		z-index: 5;
	}

	&__last-update {
		font-size: .8rem;
		margin-left: auto;
		display: flex;
		flex-direction: row;
		align-items: center;

		svg {
			margin-left: .5em;
		}
	}
}
