body {
	&.dashboard {
		transition: background-color .8s ease;
		background-color: $gray-200;
	}
}

.dashboard {
	&__header {
		align-items: center;
		display: flex;
		flex-direction: row;
	}

	&__avatar {
		z-index: 10;

		img {
			border-radius: 100%;
			width: 50px;
			border: solid 2px $gray-500;
		}
	}

	&__welcome-msg {
		background: $white;
		font-size: .9rem;
		margin-left: -.5em;
		padding: .3em 1em;
		z-index: 5;
	}
}
