.repo-panel {
	margin-bottom: 1rem;
	width: 100%;

	&__header {
		color: $white;
		padding: .8rem 1rem;
	}

	&__status-list {
		border: solid 1px $gray-400;
		display: flex;
		flex-direction: row;
		list-style: none;
		padding: 0;
		width: 100%;
	}

	&__status-loading {
		padding: 1rem 0;
		text-align: center;
		width: 100%;
	}

	&__status-item {
		border-right: solid 1px $gray-400;
		flex: 1;
		padding: 1rem 0;
		position: relative;
		text-align: center;

		&:last-child {
			border: none;
		}

		&::before {
			bottom: 0;
			content: '';
			height: 5px;
			left: 0;
			position: absolute;
			width: 100%;
		}

		&--reviewaquired { &::before {background-color: $review-aquired} }
		&--waitingadjust { &::before {background-color: $waitingadjust} }
		&--approved { &::before {background-color: $approved} }
		&--waitingmerge { &::before {background-color: $waitingmerge} }
	}

	&--btp {
		border-color: $brastemp-color;
		.repo-panel__header {
			background-color: $brastemp-color;
		}
	}

	&--cns {
		border-color: $consul-color;
		.repo-panel__header {
			background-color: $consul-color;
		}
	}

	&--dnl {
		border-color: $diretonaloja-color;
		.repo-panel__header {
			background-color: $diretonaloja-color;
		}
	}

	&--cc {
		border-color: $compracerta-color;
		.repo-panel__header {
			background-color: $compracerta-color;
		}
	}
}
