@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// Required
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";

/* Custom variables */
$font-family-base: 'Open Sans', sans-serif;

/* Lojas */
$brastemp-color: 		#f35216;
$consul-color: 			#9aca3c;
$diretonaloja-color: 	#7f7f7d;
$compracerta-color: 	#8600a7;

/* Labels */
$review-aquired: 		#d93f0b;
$waitingmerge:			#7057ff;
$waitingadjust:			#fbca04;
$approved:				#0e8a16;

@import "bootstrap/scss/_mixins";
@import "bootstrap/scss/_reboot";
@import "bootstrap/scss/_type";
@import "bootstrap/scss/_forms";
@import "bootstrap/scss/_buttons";
@import "bootstrap/scss/_grid";
@import "bootstrap/scss/utilities/_flex";
@import "bootstrap/scss/utilities/_float";

.wrapper {
	padding: 1em;
	min-width: 500px;
}

.login {
	&__title {
		text-align: center;

		svg, span {
			display: inline-block;
			vertical-align: middle;
		}
	}

	&__loader {
		font-size: 1.5em;
		margin-right: 10px;

		svg {
			animation-duration: 800ms;
			animation-iteration-count: infinite;
			animation-name: spin;
			animation-timing-function: linear;
		}
	}

	&__error {
		color: $red;
		text-align: center;
	}
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


@import './_dashboard';
@import './_panels';
