@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

@import 'purecss/build/base',
		'purecss/build/buttons',
		'purecss/build/forms',
		'purecss/build/tables';

.header {
	&__title {
		margin: 0;
	}
}

.wrapper {
	min-width: 500px;
	padding: 15px;
}
